---
interface Props {
	text: string,
    link: string,
    openInNewTab?: boolean,
    class?: string,
}

const { text, link, openInNewTab, class: className } = Astro.props;
const targetAttr = openInNewTab ? '_blank' : undefined;
const relAttr = openInNewTab ? 'noopener noreferrer' : undefined;
---

<div class={className || 'btn outline btn-hover xl'}>
    <a
        href={link}
        class="btn-click"
        target={targetAttr}
        rel={relAttr}
    >
        <div class="btn-content duplicate">
            <div class="btn-fill"></div>
            <span>{text}</span>
        </div>

        <div class="border-box"></div>
    </a>
</div>
