<div class="loading-container">
    <div class="transition-screen" />
    <div class="transition-words">
        <div class="wrap">
            <h3 data-change-page-title></h3>
        </div>
    </div>
</div>