---
export interface Props {
  text: string;
  link: string;
}

const { text, link } = Astro.props;
---

<div class="notification-bar">
  <div class="animation-bar gradient"></div>
  <a href={link} target="_blank" rel="noopener noreferrer">
    {text}
  </a>
</div>

<style>
  .notification-bar {
    width: 100%;
    background-color: #4d4bb4d9;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 950;
    /* height: var(--notification-bar-height, auto); */
  }

  .notification-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
  }
  .animation-bar {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    animation: rotate 6s infinite linear;
    -webkit-animation: rotate 6s infinite linear;
  }

  @-webkit-keyframes rotate {
    from {
      background-position: -3000px;
    }
    to {
      background-position: 0px;
    }
  }
  @keyframes rotate {
    from {
      background-position: -3000px;
    }
    to {
      background-position: 0px;
    }
  }
  .gradient {
    background: #30ff90;
    /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #30ff90 0%,
      #ed2ded 25%,
      #c99826 50%,
      #30ffe6 75%,
      #30ff90 100%
    );
    /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%, #30ff90),
      color-stop(25%, #ed2ded),
      color-stop(50%, #c99826),
      color-stop(75%, #30ffe6),
      color-stop(100%, #30ff90)
    );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      left,
      #30ff90 0%,
      #ed2ded 25%,
      #c99826 50%,
      #30ffe6 75%,
      #30ff90 100%
    );
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      left,
      #30ff90 0%,
      #ed2ded 25%,
      #c99826 50%,
      #30ffe6 75%,
      #30ff90 100%
    );
    /* Opera 11.10+ */
    background: -ms-linear-gradient(
      left,
      #30ff90 0%,
      #ed2ded 25%,
      #c99826 50%,
      #30ffe6 75%,
      #30ff90 100%
    );
    /* IE10+ */
    background: linear-gradient(
      to right,
      #30ff90 0%,
      #ed2ded 25%,
      #c99826 50%,
      #30ffe6 75%,
      #30ff90 100%
    );
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 );
    /* IE6-9 */
  }
</style>
